body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: white;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #434455;
    
}

.blue-color {
    color: #4d5ae5;
}
/*-----------same color----------start*/
.header-logo,
.header-list-item,
.excellence-list-item-subtitle,
.team-title,
.team-subtitle,
.portfolio-title,
.portfolio-list-item-subtitle {color: #2e2f42;}
/*-----------f4f4fd------------*/
.footer-logo,
.footer-text {color: #f4f4fd;}
/*-----------same color----------end*/
/*-----------header----------start*/
.header-logo {
    font-family: "Raleway", sans-serif;
    ;
    font-size: 18px;
    
    text-transform: uppercase;
    font-weight: 700;
   

}

.header-list-item {
line-height: 1.5;
letter-spacing: 0.02em;
font-weight: 500;
font-size: 16px;

}
.header-contacts-list-item {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

/*-----------header----------end*/
/*-----------border-start-------*/
.border {
    background-color: #2e2f42;
    ;
}

.border-title {
    color: white;
    font-weight: 700;
    font-size: 56px;
}

.border-button {
    background-color: #4d5ae5;
    color: white;
    cursor: pointer;
}

/*-----------border-end----------*/
/*-----------excellence----------start*/
.excellence-title {
    color: white;
}

.excellence-list-item-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  
}

.excellence-list-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em
}

/*-----------excellence----------end*/
/*-----------team-------------start*/
.team {
    background-color: #f4f4fd;
    
}
.team-title{
line-height: 1.12;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
font-weight: 700;
font-size: 36px
}
.team-subtitle{
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
font-weight: 500;
font-size: 20px;

}
.team-text{
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
font-weight: 400;
font-size: 16px;
}
/*-----------team-------------end*/
/*-----------portfolio----------start*/
.portfolio-title {
line-height: 1.12;
letter-spacing: 0.02em;
text-align: center;

font-weight: 700;
font-size: 36px;      
}
.portfolio-list-item-subtitle{
line-height: 1.2;
letter-spacing: 0.02em;

font-weight: 500;
font-size: 20px;    
}
.portfolio-list-item-text {
line-height: 1.5;
letter-spacing: 0.02em;
font-weight: 400;
font-size: 16px;    
}
/*-----------portfolio----------end*/
/*------------footer-----------start*/
.footer {background: #2e2f42;}
.footer-logo {
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;

font-weight: 700;
font-size: 18px;
}
.footer-text {
line-height: 1.5;
letter-spacing: 0.02em;

font-weight: 400;
font-size: 16px;}
/*------------footer-----------end*/
